.networkStatusWrap {
    display: block;
}

.networkStatusHeader__title {
    font-size: normal;
}


@media (max-width: 990px) {
    .networkStatusHeader__title {
        font-size: 42px;
    }
}

@media (max-width: 530px) {
    .networkStatusHeader__title {
        font-size: 36px;
    }
}

.networkStatusContainer__title {
    font-size: normal;
}

@media (max-width: 990px) {
    .networkStatusContainer__title {
        font-size: 18px;
    }
}

@media (max-width: 530px) {
    .networkStatusContainer__title {
        font-size: 16px;
    }
}

.chartListWrap {
    margin-inline: auto;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
}

@media (max-width: 990px) {
    .chartListWrap {
        align-items: center;
        flex-direction: column;
    }
}